$bg-color: #606060
$on-color: #00e000
$thmb-color: #ffffff
$dark-bg-color: #000000
$time: 0.5s

.alg-switch
    width: 35px
    padding: 2.25px 2.25px
    border-radius: 15px
    cursor: pointer
    transition: background-color $time

    .alg-switch-thumb
        width: 15px
        height: 15px
        border-radius: 50%
        background-color: $thmb-color

.disabled
    background-color: $bg-color

    &.dark-mode
        background-color: $dark-bg-color

    .alg-switch-thumb
        float: left

.enabled
    background-color: $on-color

    .alg-switch-thumb
        float: right