.alg-navbar-container {
    border-bottom: 1px solid black;
    background-color: white;
}

.alg-navbar-logo-img {
    width: 80px;
    height: 50px;
    float: left;
}

.alg-navbar-sign-in {
    float: right;
}

.alg-navbar-sign-in {
    margin-top: auto;
    margin-bottom: auto;
}